{% extends "compte/index.html.twig" %}
{% block titrecompte %}
    {% if succes %}
        {% if succes == "Y" %}
            <div 
                class="alert alert-success"
                role="alert">
                Mot de passes identiques
            </div>
        {% endif%}
        {% if succes == "N" %}
            <div 
                class="alert alert-danger"
                role="alert">
                Les mots de passes doivent être identiques
            </div>
        {% endif%}
    {%else%}
        Changer mot de passe
    {% endif%}
{% endblock titrecompte %}
{% block compte %}
    <div class="col-8" >
        <div class="container">
            <br>
            <div class="row text-center justify-content-center ">
                <form action="{{ path('postChangerMdp') }}" method="post">
                    <div  class="form-group">
                        <label for="mdp">Mot de passe :</label>
                        <input class="form-control" type="password" id="mdp" name="mdp" />
                    </div>



                    <div>
                        <button type="button" id="btn-annuler-connexion" style="margin-top: 10px;"
                                class="btn-red" >Annuler</button>

                    </div>
                    <br>
                    <div  class="form-group">
                        <label for="mdpVerif">Verifier :</label>
                        <input class="form-control" type="password" id="mdpVerif" name="mdpVerif" />
                    </div>



                    <button type="button" id="btn-annuler-verif-connexion" style="margin-top: 10px;"
                            class="btn-red" >Annuler</button>
                    <br>
                    <br>
                    <button class="btn" type="submit">Valider</button>
            </div>




        </div>
    </form>

</div>
</div>
</div>

{% endblock compte%}
{% block javascripts %}
    <script>

        $(".btn-connexion").on("click", function () {
            // alert($(this).val());
            $("#mdp").val($("#mdp").val() + $(this).val());
        });

        $("#btn-annuler-connexion").on("click", function () {
            // alert($(this).val());
            $("#mdp").val(null);
        });

        $(".btn-verif-connexion").on("click", function () {
            // alert($(this).val());
            $("#mdpVerif").val($("#mdpVerif").val() + $(this).val());
        });

        $("#btn-annuler-verif-connexion").on("click", function () {
            // alert($(this).val());
            $("#mdpVerif").val(null);
        });
        function genererChiffres() {
            let chifflesAleatoires = [];
            while (chifflesAleatoires.length < 10) {
                let aleat = Math.floor(Math.random() * Math.floor(10));
                let chiffre = true;
                if (chifflesAleatoires.length > 0) {
                    for (let i = 0; i < chifflesAleatoires.length; i++) {
                        if (aleat == chifflesAleatoires[i]) {
                            chiffre = false;
                        }
                    }
                }
                if (chiffre == true) {
                    chifflesAleatoires.push(aleat);
                }
            }
            return chifflesAleatoires;
        }
        function remplirCode(id, tableau) {
            for (let i = 0; i < 10; i++) {
                $("#" + id + i).val(tableau[i]);
                $("#" + id + i).text(tableau[i]);
            }
        }

        remplirCode("btn-connexion-", genererChiffres());
        remplirCode("btn-verif-connexion-", genererChiffres());

    </script>
{% endblock javascripts %}